.img {
  max-height: 75vh;
  min-width: 280px;
  max-width: 90vw;
  margin: 0 auto;
  object-fit: contain;
}

.item {
  display: flex;
  font-size: 24px;
  gap: 40px;
  justify-content: center;
  margin-top: 10px;
}

.options {
  width: 30px;
  height: 30px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.57);
}
